.auth-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  .auth-card {
    padding: 1.5rem;
    max-width: 31rem;
  }

  .auth-button {
    margin: 0.5rem 0 1.5rem 0;
  }

  span {
    font-weight: bolder;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
  }
}
