* {
  box-sizing: border-box;
}

:root {
  --color-primary: #1976d2;
}

a,
a:active,
a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;

  #root {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .wrapper {
      display: flex;
      flex-grow: 1;
      overflow: hidden;
      justify-content: space-between;
    }
  }
}

.modal {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30rem;
  min-height: 15rem;
  padding: 1rem;
  overflow: hidden;
}
