.modal {
  .selected-users-label {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }

  .selected-user {
    margin-bottom: 0.5rem;
  }

  .selected-users-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 28rem;
    max-height: 5rem;
    overflow-x: auto;
  }
}
