.stack {
  flex-grow: 1;

  .rooms-header {
    margin-left: 2.5rem;
    display: flex;
    align-items: center;

    .add-icon {
      margin-left: 0.5rem;
    }
  }

  .roomList {
    padding: 0 0.5rem;
    overflow-y: auto;

    li {
      list-style-type: none;
      margin: 0.5rem 0;
    }
  }
}
