.stack {
  flex-grow: 1;

  .rooms-header {
    margin-left: 2.5rem;
    display: flex;
    align-items: center;

    .add-icon {
      margin-left: 0.5rem;
    }
  }
}

.option-avatar {
  margin-right: 0.75rem;
}
