.room {
  cursor: pointer;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;

  .room-title {
    margin-left: 2.5rem;
  }

  &:hover {
    background-color: rgb(186, 186, 186);
  }

  &.selected {
    background-color: rgb(186, 186, 186);
  }
}
